<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ElectrosDBEntities" connectionString="metadata=res://*/ElectrosModel1.csdl|res://*/ElectrosModel1.ssdl|res://*/ElectrosModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=USER-HP;initial catalog=ElectrosDB;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>